@charset "UTF-8";
/*************************header***************************/
body{
		font-family: 微软雅黑, 文泉驿正黑, 黑体, serif;
    font-size: 12px;
    color: rgb(102, 102, 102);
    background-color: rgb(245, 245, 245);
    margin: 0px;
	}
	header{
		overflow:hidden;
		padding:20px 50px 30px 50px;
		width:1000px;
		margin:0 auto;
	}
	header img{
		float:left;
	}
	header h1{
		float:left;
		margin:0;
		margin:10px 0 0 24px;
		font-size:24px;
	}
/*************************form***************************/
article{
		
	}
	#form_div{
		background-image:url("../images/regist.png");
		width:100%;
		height:560px;
		color:white;
	}
	#form_panel{
		width:264px;
		padding:8px;
		float:right;
		margin:120px 111px 0 0 ;
		background-color: rgba(0,0,0,0.3);
	}
	#form_panel h2{
		margin:0;
		border-bottom:1px  solid white;
		padding:8px;
	}
	#form_panel>h2>a{
		color:white;
		font-size:12px;
		text-decoration:none;
		position:relative;
		left:80px;	
	}
	.field input{
		width:224px;
		border:0px;/*去掉边框*/
		padding:10px 20px;
	}
	.field{
		position:relative;/*为了给图片定位*/
		margin:15px 0;
	}
	.field img{
		position:absolute;
		top: 4px;
		right:10px;
	}
	.field span{
		color:red;
		position:relative;
		top:5px;/*文本位置微调*/
	}
	#autologin_div>a{
		float:right;
		color:white;
		text-decoration:none;
		position:relative;
		top:3px;
	}
	#autologin_div>input{
		position:relative;
		top:3px;		
	}
	#loginbtn_div{
		margin:10px 0;
	}
	#loginbtn_div input{
		width:264px;
		background-color:#27b0f6;
		border:0px;
		color:white;
		height:33px;
		border-radius:4px;
	}
	/*************************service***************************/
	#service_div{
		width:1000px;
		margin:20px auto;
		text-align:center;/*为了让内部四个小的div居中*/
		overflow:hidden;/*解决高度不识别的bug*/
		
	}
	#service_div div{
		float:left;
		width:250px;
	}
	#service_div>div>a{
		display:block;/*把超链接改成块级元素，独占一行*/
		text-decoration:none;
		color: rgb(102, 102, 102);
	}
	/*************************footer***************************/
	
footer {
	width: 1000px;
	margin: 0 auto;
	background-color: white;
	padding:20px 0;
}

footer>p {
	text-align: center;
}
/* 三个等大小的div */
footer>div>div {
	width: 333px;
	float: left;
}

footer>div {
	/*内容全部浮动，为了识别高度  */
	overflow: hidden;
}

#footer_center_div ul {
	list-style-type: none;
	padding: 0;
}

#footer_center_div>ul>li {
	float: left;
	width: 111px;
	font-size: 14px;
	text-align: center;
}

#footer_center_div>ul>li>ul>li {
	font-size: 12px;
	margin: 5px 0;
}

#imgli {
	position: relative;
	left: -6px;
}

#footer_right_div div{
	width:166px;
	float:left;
}
#footer_right_div div h3{
	margin:0 0 10px 0;
	
}
#footer_right_div{
	height:87px;
	padding:10px 0;
	text-align:center;
}
#footer_left_div img{
	margin-left:40px;
}