<?xml version="1.0" encoding="UTF-8"?> 
	<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
		"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
	<!-- namespace表示命名空间 ，值必须为接口的名称（包括包名）-->
	<!-- 实现类没有，mybatis框架会生成接口的实现类 -->
	<mapper namespace="cn.tedu.store.mapper.GoodsMapper">
		<!-- 查询商品 -->
		<!-- 
		List<Goods> selectByCategoryId(
		@Param("categoryId") Integer categoryId,
		@Param("offset") Integer offset,
		@Param("count") Integer count);
		 -->
		 
		 <select id="selectByCategoryId"
		 		resultType="cn.tedu.store.bean.Goods">
		 select
			id,category_id categoryId,item_type itemType,
			title,sell_point sellPoint,price,num,barcode,
			image,status,priority,
			created_user createdUser,
			created_time createdTime,
			modified_user modifiedUser,
			modified_time modifiedTime
		from
			t_goods
		where 
			category_id = #{categoryId}
		and num > 0 and status=1
		order by
			priority desc
		limit #{offset},#{count}
		 </select>
		 <!-- 查询商品的数量 -->
		 <!-- Integer selectCount(Integer categoryId); -->
	<select id="selectCount" 
			resultType="java.lang.Integer">
		select 
			count(*)
		from 
			t_goods
		where
			category_id=#{categoryId}		
	</select>
	<!-- 查询商品信息 -->
	<!-- Goods selectById(String id); -->
	<select id="selectById"
				resultType="cn.tedu.store.bean.Goods">
		select
			id,category_id categoryId,item_type itemType,
			title,sell_point sellPoint,price,num,barcode,
			image,status,priority,
			created_user createdUser,
			created_time createdTime,
			modified_user modifiedUser,
			modified_time modifiedTime
		from
			t_goods	
		where
			id=#{id}
	</select>
	</mapper>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	