<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>someServlet</servlet-name>
    <servlet-class>web.SomeServlet</servlet-class>
    <init-param>
      <param-name>company</param-name>
      <param-value>北京达内科技有限公司</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>someServlet</servlet-name>
    <url-pattern>/some</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>bmiServlet</servlet-name>
    <servlet-class>web.BMIServlet</servlet-class>
    <init-param>
      <param-name>max</param-name>
      <param-value>25</param-value>
    </init-param>
    <init-param>
      <param-name>min</param-name>
      <param-value>19</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>bmiServlet</servlet-name>
    <url-pattern>/bmi</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OtherServlet</servlet-name>
    <servlet-class>web.OtherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OtherServlet</servlet-name>
    <url-pattern>/other</url-pattern>
  </servlet-mapping>
</web-app>